{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
 <head>
   <title>Music Discovery App</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="icon" type="image/png" href="/uploads/icon/musical-note-256.png" sizes="16x16"/>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
 </head>


 <body>
   <div class="container-fluid bg-gradient">


     <!-- Navbar-->
     <nav class="navbar navbar-expand-lg bg-primary bg-gradient">
      <img src="/uploads/icon/musical-note-256.png" class="img-fluid" width="50" height="50">
       <div class="container-fluid">
        <a class="navbar-brand">Playlist Discovery</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
           <div class="navbar-nav">
              <!--  {% url 'index' %}  is defined in url path to dynamically create url -->
              <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
              <a class="nav-link" href="{% url 'playlists' %}">Playlist List</a>
              {% if user.is_authenticated %}
              <a class="nav-link" href="{% url 'logout' %}?next={{ request.path }}">Logout {{user}}</a>
             {% else %}
               <a class="nav-link" href="{% url 'register_page' %}?next={{ request.path }}">Register</a>
               <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">Login</a>
             {% endif %}
           </div>
         </div>
       </div>
     </nav>


       <div class="col-sm-10">
         <!-- add block content from html template -->
         <br>
         {% block content %}
         {% endblock %}
       </div>
     </div >
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js" crossorigin="anonymous"></script> -->
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
   </div>
 </body>
</html>