<!-- inherit from base.html-->
{% extends "playlist_app/base_template.html" %}


<!-- Replace block content in base_template.html -->
{% block content %}
    <h1>Music Playlist Discovery</h1>

    <a href="{% url 'create-playlist' %}" class="btn btn-success" name="create_playlist_btn">Create Playlist</a><br>

    <br>
    <h2>Playlist List</h2>
    {% for playlist in playlist_list %}
    <ul class="list-unstyled">
        <div class="shadow card w-50">
            <div class="card-body">
                <li>
                    <div class="row g-0">
                        {% if playlist.cover %}
                            <div class="col-md-4">
                                <img src="{{ playlist.cover.url }}" class="rounded card-img" alt="{{ playlist.title }} Cover" style="width: 80%;">
                            </div>
                        {% else %}
                            <p>No cover image available</p>
                        {% endif %}
                        <div class="col-md-8">
                            <h2 class="card-title">Title: {{ playlist.title }}</h2>
                            
                            <a href="{{ playlist.get_absolute_url }}" class="btn btn-success">View Details</a>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </ul>
    {% endfor %}
{% endblock %}