<!-- inherit from base.html-->
{% extends "playlist_app/base_template.html" %}
{% load static %}

<!-- Replace block content in base_template.html -->
{% block content %}
    <h1>Playlist Details</h1>
    {% if playlist.cover %}
        <div class="col-md-4">
            <p class="fs-5 text-break"><strong>Cover:</strong></p>
            <img src="{{ playlist.cover.url }}" alt="{{ playlist.title }} Cover" style="width: 40%;">
        </div>
    {% else %}
        <p>No cover image available</p>
    {% endif %}
    <br>
    <h2>Title: {{ playlist.title }}</h2>
    <p class="fs-5 text-break"><strong>Genres: </strong>
        {% for genre in playlist.genres.all %}
            {{ genre.name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <p class="fs-5 text-break"><strong>Artists: </strong>
        {% for artist in playlist.artists.all %}
            {{ artist.name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <a href="{% url 'update-playlist' playlist.pk %}" class="btn btn-primary">Update Playlist</a>
    <a href="{% url 'delete-playlist' playlist.pk %}" class="btn btn-danger">Delete Playlist</a>
{% endblock %}